$primary: #dd7230 !default;
$secondary: #ffb563 !default;
$success: #d8f1a0 !default;
$info: #e3e36a !default;
$warning: #ff9b71 !default;
$danger: #ea1744 !default;
$light: #fff2f1 !default;
$dark: #262626 !default;
$transparent: transparent !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
    'dark-transparent': rgba($dark, 0.9),
    'transparent': $transparent,
  ),
  $theme-colors
);
