$primary: #DD7230 !default;
$secondary: #FFB563 !default;
$success: #D8F1A0 !default;
$info: #E3E36A !default;
$warning: #FF9B71 !default;
$danger: #EA1744 !default;
$light: #FFF2F1 !default;
$dark: #262626 !default;
$transparent: transparent !default;